@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    user-select: none;
    /* font-family: "convergence, 'sans-serif'"; */
}

html {
    zoom: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar { display: none; }

.treatment_card_div:hover .treatment_name {
    background-color: rgb(59, 98, 134);
    color: white;
}

.doctors_card:hover .doctors_sub_card {
    background-color: #4468cc;
} 

.bestHospital:hover .bestHospital-text {
    background-color: rgba(228, 243, 254, 0.913);
}

.ourServices:hover .services-text {
    background-color: rgba(228, 243, 254, 0.913);
}