@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    user-select: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.scroll-treatment .treatment:hover .treatment-name {
    background-color: rgb(59, 98, 134);
    color: white;
}

.scroll-hospital .bestHospital:hover .bestHospital-text {
    background-color: rgba(228, 243, 254, 0.913);
}